/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Position
2. Dimensions
3. Color
4. Shape/Font
*/

/* 
Tu ngoai vao trong
Tu tren xuong duoi
Tong quan den chi tiet
*/
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}

#main {

}

/* CSS header */
#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover {
    background-color: #f44336;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

/* Navigation */
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;

}
#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}

/* CSS slider */
#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/img/slider/silder_1.jpg) top center / cover no-repeat;
    position: relative;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); 
    or
    left: 0;
    right: 0;*/
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

/* CSS content */
#content {

}
/* About section */
#content .content-section {
    width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}
#content .about-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list {
    margin-top: 48px;
}
#content .member-items {
    float: left;
    width: 33.33333%;
    /* width: calc(100%/3); */
    text-align: center;
}
#content .member-name {
    font-size: 15px;
}
#content .member-image {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour section */
#content .tour-section {
    background-color: #000;
}
.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list .solid-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity {
    float: right;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: -3px;
    border-radius: 50%;
    text-align: center;
    background-color: #000;
}
/* Place */
.places-list {
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    /* margin: 32px -8px 0; */
    padding-bottom: 48px;
}
.place-item {
    float: left;
    width: 33.3333%;
    padding: 0 8px;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-content {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-date {
    margin-top: 15px;
    color: #757575;
}
.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}
.buy-ticket-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.buy-ticket-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Footer */
#footer {

}